@import "../utils/colors/layers";

$color-primary: $layer2-color-primary;
$color-primary-light: $layer2-color-primary-light;
$color-primary-extralight: $layer2-color-primary-extralight;

$color-secondary: $layer2-color-secondary;
$color-secondary-light: $layer2-color-secondary-light;