$margins: 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem;

@each $margin in $margins {

	$i: index($margins, $margin);

	@each $type in "m","p" {
		
		.#{$type}-#{$i} {
			margin: $margin;
		}

		.#{$type}x-#{$i} {
			margin-left: $margin;
			margin-right: $margin;
		}

		.#{$type}y-#{$i} {
			margin-top: $margin;
			margin-bottom: $margin;
		}

		.#{$type}l-#{$i} {
			margin-left: $margin;
		}

		.#{$type}r-#{$i} {
			margin-right: $margin;
		}

		.#{$type}t-#{$i} {
			margin-top: $margin;
		}

		.#{$type}b-#{$i} {
			margin-bottom: $margin;
		}

	}

}