$color-primary: #686191 !default;
$color-primary-light: #706a92 !default;

$color-secondary: #54BCDB !default;
$color-secondary-light: #8ED0E4 !default;

$color-text: #505050 !default;
$color-text-light: #747474 !default;
$color-text-extralight: #b3b3b3 !default;

$color-gray: #C5C5C5 !default;
$color-gray-light: #d9d8d8 !default;

$color-danger: #b01c1c !default;
$color-danger-light: #c45151 !default;