$asset-root-path: '..' !default;

@import "base/reset";
@import "base/typography";
@import "utils/colors/base";
@import "utils/colors/layers";
@import "utils/colors/classes";
@import "layout/container";
@import "layout/boxes";
@import "layout/margins";
@import "components/collections";
@import "components/inputs";
@import "components/links";
@import "components/logos";
@import "components/tables";
@import "components/breadcrumb";

body {

	&.theme-wireworks {
		--wireworks-color-primary: $wireworks-color-primary;
		--wireworks-color-primary-light: $wireworks-color-primary-light;
		--wireworks-color-primary-extralight: $wireworks-color-primary-extralight;
		--wireworks-color-secondary: $wireworks-color-secondary;
		--wireworks-color-secondary-light: $wireworks-color-secondary-light;
	}

	&.theme-layer1 {
		--layer1-color-primary: $layer1-color-primary;
		--layer1-color-primary-light: $layer1-color-primary-light;
		--layer1-color-primary-extralight: $layer1-color-primary-extralight;
		--layer1-color-secondary: $layer1-color-secondary;
		--layer1-color-secondary-light: $layer1-color-secondary-light;
	}

	&.theme-layer2 {
		--layer2-color-primary: $layer2-color-primary;
		--layer2-color-primary-light: $layer2-color-primary-light;
		--layer2-color-primary-extralight: $layer2-color-primary-extralight;
		--layer2-color-secondary: $layer2-color-secondary;
		--layer2-color-secondary-light: $layer2-color-secondary-light;
	}

	&.theme-layer3 {
		--layer3-color-primary: $layer3-color-primary;
		--layer3-color-primary-light: $layer3-color-primary-light;
		--layer3-color-primary-extralight: $layer3-color-primary-extralight;
		--layer3-color-secondary: $layer3-color-secondary;
		--layer3-color-secondary-light: $layer3-color-secondary-light;
	}

	&.theme-layer4 {
		--layer4-color-primary: $layer4-color-primary;
		--layer4-color-primary-light: $layer4-color-primary-light;
		--layer4-color-primary-extralight: $layer4-color-primary-extralight;
		--layer4-color-secondary: $layer4-color-secondary;
		--layer4-color-secondary-light: $layer4-color-secondary-light;
	}

	&.theme-layer5 {
		--layer5-color-primary: $layer5-color-primary;
		--layer5-color-primary-light: $layer5-color-primary-light;
		--layer5-color-primary-extralight: $layer5-color-primary-extralight;
		--layer5-color-secondary: $layer5-color-secondary;
		--layer5-color-secondary-light: $layer5-color-secondary-light;
	}

	font-family: $font-family-base;
	background: var(--color-primary-extralight,$color-primary-extralight);
}