$layer1-color-primary: #b855b3;
$layer1-color-primary-light: #d07cd8;
$layer1-color-primary-extralight: #ece5ec;
$layer1-color-secondary: #54BCDB;
$layer1-color-secondary-light: #8ED0E4;

$layer2-color-primary: #ee6b6b;
$layer2-color-primary-light: #f18181;
$layer2-color-primary-extralight: #f8e8e8;
$layer2-color-secondary: #54BCDB;
$layer2-color-secondary-light: #8ED0E4;

$layer3-color-primary: #eeac6b;
$layer3-color-primary-light: #f1b981;
$layer3-color-primary-extralight: #fff4e8;
$layer3-color-secondary: #54BCDB;
$layer3-color-secondary-light: #8ED0E4;

$layer4-color-primary: #93bd46;
$layer4-color-primary-light: #a4ca5c;
$layer4-color-primary-extralight: #edf5e0;
$layer4-color-secondary: #54BCDB;
$layer4-color-secondary-light: #8ED0E4;

$layer5-color-primary: #4cc7c7;
$layer5-color-primary-light: #88d6cc;
$layer5-color-primary-extralight: #eff7f6;
$layer5-color-secondary: #e68c9f;
$layer5-color-secondary-light: #eb9bac;