$asset-root-path: '../../' !default;

@import "../main";
@import "../utils/colors/layers";

.layer-5, .layer-4, .layer-3, .layer-2, .layer-1 {

	width: 8em;
	color: white;
	font-size: $font-size-big;
	padding: 0.5em;
	border-radius: 10px;
	user-select: none;
	box-shadow: 2px 2px 8px 0 rgba(#000000, 0);
	transition: box-shadow 0.2s, width 0.2s;

	&:hover {

		color: white;
		box-shadow: 0px 2px 16px 0 rgba(#000000, 0.2);
		width: 10em;

	}

}

.layer-5 { background: $layer5-color-primary; }
.layer-4 { background: $layer4-color-primary; }
.layer-3 { background: $layer3-color-primary; }
.layer-2 { background: $layer2-color-primary; }
.layer-1 { background: $layer1-color-primary; }