$asset-root-path: '../../' !default;

@import "../main";
@import "../utils/colors/layers";

.layer-5, .layer-4, .layer-3, .layer-2, .layer-1 {

	width: 7.5em;
	color: white;
	font-size: $font-size-big;
	padding: 0.5em;
	border-radius: 1em;
	user-select: none;
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 1s, width 0.2s cubic-bezier(.64, .43, .42, 1.27);

	&:hover {

		color: white;
		box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.01),
					0 1px 10px 2px rgba(0, 0, 0, 0.1);
		width: 10em;

	}

	.material-icons {
		font-size: $font-size-big;
		vertical-align: middle;
	}

}

.layer-5 { background: $layer5-color-primary; }
.layer-4 { background: $layer4-color-primary; }
.layer-3 { background: $layer3-color-primary; }
.layer-2 { background: $layer2-color-primary; }
.layer-1 { background: $layer1-color-primary; }