$asset-root-path: '../../' !default;

@import "../main";

main#tcp-carrier {
    margin: 0;
    padding: 0;
    display: flex;
}

.tcp-slider {
    top: 0;
    position: relative;
    display: block;
    height: 50px;
}

.tcp-25padding {
    padding: 0 25px;
}

.tcp-packet {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

.tcp-p-real {
    background-color: rgb(158, 66, 66);
}

.tcp-p-hint {
    background-color: rgb(102, 93, 93);
}

.tcp-p-left {
    left: 0;
}

.tcp-p-right {
    right: 0;
}

.tcp-container {
    padding: 20px;
    width: 80%;
    background-color: rgb(233, 233, 233);
}