$asset-root-path: '../../' !default;

@import "../main";

$ball-size: 50px;
$margin-size: 10px;

main#tcp-carrier {
    overflow: hidden;
    display: flex;
}

.tcp-cont-packet {
    min-height: 50vh;
    z-index: 1;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	overflow: hidden;
	border: 2px solid #d9d8d8;
    border-radius: 12px;
}

.tcp-cont-menu {
    width: 28%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    button {
        margin: 0 8px;
    }
}

////////////////////////////////////////////////////

.tcp-p-rail {
    margin: $margin-size;
    display: flex;
    align-items: center;
	position: relative;
	// border: 1px solid black;	
}

.tcp-p-rail::after {
	z-index: -1;
	content: '';
	background: #d9d8d8;
	position: absolute;
	height: 2px;
	left: $ball-size + $margin-size + 5px;
	right: $ball-size + $margin-size + 5px;
}

.tcp-p-slider {
    width: calc(100% - #{$ball-size});
    position: absolute;
}

.tcp-p-asd {
    flex: 1;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 100;
}

.tcp-p-ball {
    width: $ball-size;
    height: $ball-size;
    border-radius: $ball-size/2;
    display: flex;
    justify-content: center;
	align-items: center;
	color: white;
	font-weight: bolder;
	font-size: 1.5em;
	user-select: none;
	box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

.tcp-state-ok {
    background-color: theme(primary);
}

.tcp-state-waiting {
    background-color: theme(secondary);
}

.tcp-state-blank {
	// border: 2px solid rgba(0, 0, 0, 0.15);
	color: $color-text;
	box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.tcp-state-moving {
	background: #a0928d;
}

////////////////////////////////////////////////////

.tcp-left {
    left: 0;
}

.tcp-right {
    right: 0;
}

.tcp-cont-window {
    position: relative;
}

.tcp-window-wrapper {
    position: absolute;
    width: $ball-size + $margin-size * 2;
    height: $ball-size + $margin-size * 2;
    transition: all 550ms;
}

.tcp-window {
    width: $ball-size + $margin-size * 2;
    height: ($ball-size + $margin-size * 2) * 1;
    border-radius: $ball-size / 2 + $margin-size;
	border: 3px solid theme(primary);
	background: rgba(131, 172, 83, 0.1);
}

////////////////////////////////////////////////////

:export {
    ballSize: $ball-size;
    marginSize: $margin-size;
}