@import "../utils/assets";

.logo {

	display: inline-flex;
	align-content: center;

	&::before {

		display: inline-block;
		font-size: inherit;
		width: 1em;
		height: 1em;		
		background: image("logo_small_transparent.png") center center no-repeat;
		background-size: contain;					
		margin-right: 0.5em;
		content: '';

	}

}