* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.bit-box {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-top:10px;
}
.block {
	margin:0 5px;
	flex: 1;
}
.box {
	display:flex;
	margin: 0 -5px 30px -5px;
}
.copy-icon {
	cursor:pointer;
	color: #C5C5C5;
}
.copy-icon:hover {
	color: #989595;
}
.copy-text {
	color:#999898;
	font-size:14px;
	font-weight:300;
	opacity:0;
	user-select:none;
}
.display {
	background-color:#FBCBCB;
	color:#b74b4b;
	text-shadow:0 0 2px rgba(0,0,0,0.0);
}
.display,.mask-display {
	align-items:center;
	border-radius:5px;
	box-shadow:inset 2px 3px 10px 0 rgba(0,0,0,0.1);
	display:flex;
	font-family:'Roboto Mono', monospace;
	font-size:80px;
	height:1.4em;
	justify-content:center;
	outline:none;
	text-align:center;
	transition:box-shadow .2s, background-color .25s, color .2s, text-shadow .2s, border-width .2s;
}
.display:focus {
	border:4px solid #F3A6A6;
}
.display:hover,.mask-display:hover,.display:focus {
	text-shadow: 5px 7px 3px rgba(0,0,0,0.1);
}
.dot {
	align-self:flex-end;
	background:#666;
	border-radius:50%;
	height:5px;
	margin:10px 5px;
	width:5px;
}
.lighter-text {
	color:#909090;
	font-weight:300;
}
.mask-display {
	background-color:#C5E6FF;
	color:#3987cc;
	text-shadow:0 0 2px rgba(0,0,0,0.0);
}
input[type=checkbox] {
	-moz-appearance:none;
	-ms-appearance:none;
	-webkit-appearance:none;
	align-items:center;
	background:transparent;
	border:2px solid transparent;
	border-radius:50%;
	content:"0";
	cursor:pointer;
	display:flex;
	height:26px;
	justify-content:center;
	outline:none;
	transition:background-color .2s, border-color .2s;
	width:26px;
}
input[type=checkbox]::before {
	color:#333;
	content:"0";
	font-family:'Roboto Mono', monospace;
	font-size:16px;
}
input[type=checkbox]:checked {
	background:#ffe2b0;
	font-weight:700;
}
input[type=checkbox]:checked::before {
	content:"1";
}
input[type=checkbox]:disabled {
	border-color:#cfcbcb;
	cursor:not-allowed;
}
input[type=checkbox]:disabled:checked {
	border-color:#fed07e;
}
input[type=checkbox]:disabled:checked:hover {
	background:#ffeac5;
}
input[type=checkbox]:disabled:hover {
	background:inherit;
}
input[type=checkbox]:hover {
	background:#ececec;
}
input[type=checkbox]:hover:checked {
	background:#fedb9f;
}
