.subnet-block {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#root_net {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}

.subnet-block.ss-0 {
	background: #67874b;
}

.subnet-block.ss-1 {
	background: #4d4486;
}

.subnet-block.ss-2 {
	background: #c1a945;
}

.subnet-block.ss-3 {
	background: #ab452f;
}

.subnet-block.ss-4 {
	background: #228f7f;
}

.subnet-block.ss-5 {
	background: #774280;
}

.subnet-block.ss-6 {
	background: #868b2f;
}

.subnet-block.ss-7 {
	background: #9a3040;
}

#tooltip {
	font-size: 14px;
	padding: 0.4em;
	border-radius: 5px;
	border: 1px solid #F3B780;
	display: inline-block;
	background: #FFCEA1;
	user-select: none;
	-moz-user-select: none;
	margin-bottom: 1em;
}

.subnet-option {
	padding: 0;
	width: 32px;
	height: 32px;
	margin-right: 0.25em;
}

.subnet-tree .subnet-tree {
	padding-left: 10px;
	padding-top: 20px;
	border-left: 4px solid #b9afa9;
	margin-left: 14px;
}

.subnet-divide, .subnet-merge {
	pointer-events: none;
}

.subnet-divide::before, .subnet-merge::before {
	font-family: "Font Awesome 5 Free";
	border-radius: 32px;
	width: 32px;
	height: 32px;
	color: #fff;
	display: inline-block;
	font-weight: 900;
	font-size: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	pointer-events: all;
	cursor: pointer;
}

.subnet-divide {
	color: #2d453a;
}

.subnet-merge {
	color: #b9afa9;
}

.subnet-divide::before {
	background: #48cf8e;
	content: "\f337";
}

.subnet-merge::before {
	background: #b9afa9;
	content: "\f066";
}

.subnet-divide.disabled::before {
	background: #56ad83;
	/*font-weight: 400;*/
	font-size: 12px;
	content: "\f05e";
}
