$wireworks-color-primary: #686191;
$wireworks-color-primary-light: #706b8f;
$wireworks-color-primary-extralight: #e9e5ff;
$wireworks-color-secondary: #54BCDB;
$wireworks-color-secondary-light: #8ED0E4;

$color-primary: $wireworks-color-primary !default;
$color-primary-light: $wireworks-color-primary-light !default;
$color-primary-extralight: $wireworks-color-primary-extralight !default;

$color-secondary: $wireworks-color-secondary !default;
$color-secondary-light: $wireworks-color-secondary-light !default;

$color-text: #525252 !default;
$color-text-light: #8f8f8f !default;
$color-text-extralight: #b3b3b3 !default;

$color-gray: #C5C5C5 !default;
$color-gray-light: #d9d8d8 !default;

$color-danger: #b01c1c !default;
$color-danger-light: #c45151 !default;