$layer1-color-primary: #a76c9d;
$layer1-color-primary-light: #c480b8;
$layer1-color-primary-extralight: #ece5ec;
$layer1-color-secondary: #54BCDB;
$layer1-color-secondary-light: #8ED0E4;

$layer2-color-primary: #dd6969;
$layer2-color-primary-light: #e97c7c;
$layer2-color-primary-extralight: #f8e8e8;
$layer2-color-secondary: #518d6f;
$layer2-color-secondary-light: #5f9b7d;

$layer3-color-primary: #dea569;
$layer3-color-primary-light: #ecb376;
$layer3-color-primary-extralight: #fff8f1;
$layer3-color-secondary: #54BCDB;
$layer3-color-secondary-light: #8ED0E4;

$layer4-color-primary: #9cab4a;
$layer4-color-primary-light: rgb(192, 236, 109);
$layer4-color-primary-extralight: #e9f5a8;
$layer4-color-secondary: #d3753e;
$layer4-color-secondary-light: #ee8d55;

$layer5-color-primary: #65c0ce;
$layer5-color-primary-light: #72d5e4;
$layer5-color-primary-extralight: #dafaff;
$layer5-color-secondary: #e68c9f;
$layer5-color-secondary-light: #eb9bac;