@import "../utils/colors/layer3";

$color-primary: $layer3-$color-primary;
$color-primary-light: $layer3-$color-primary-light;

$color-secondary: $layer3-$color-secondary;
$color-secondary-light: $layer3-$color-secondary-light;