@import "../utils/colors/theme";

ul.collection {

	border-radius: 10px;
	border: 1px solid theme(gray-light);
	margin-bottom: 1.5rem;

	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 1rem;
	}

	li {

		padding: 20px;
		border-bottom: 1px solid theme(gray-light);

		&:last-child {
			border-bottom: none;
		}

		*:last-child {
			margin-bottom: 0;
		}
		
	}

}
