@import "../utils/colors/theme";

ul.collection {

	// border-radius: 15px;
	// border: 2px solid theme(gray-light);
	margin-bottom: 1.5rem;

	li {

		padding: 20px 10px;
		border-bottom: 1px solid theme(gray-light);

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		&:first-child {
			padding-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
		
	}

}
