@import "../base/typography";
@import "../utils/colors/theme";

.errorbox {

	width: 100%;
	border-radius: 15px;
	border: 1px solid theme(danger);
	margin-bottom: 1.5rem;
	border-collapse: separate;
	overflow: hidden;
	padding: 1em;
	font-size: $font-size-medium;
	color: theme(danger);
	font-family: $font-family-mono;
	text-align: center;

}