@import "../base/typography";
@import "../utils/colors/theme";

.errorbox {

	width: 100%;
	border-radius: 5px;
	border: 1px solid theme(gray-light);
	margin-bottom: 1.5rem;
	border-collapse: separate;
	overflow: hidden;
	padding: 1em;
	font-size: $font-size-medium;
	color: $color-danger;
	font-family: $font-family-mono;
	text-align: center;

}