@import "../base/typography";
@import "../utils/colors/base";

input, button, select {

	border: none;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: $font-size-medium;

}

input[type="text"], select {
	
	padding: 0.25em;
	border: 2px solid var(--color-secondary,$color-secondary);
	border-radius: 5px;
	font-family: $font-family-mono;
	font-weight: $font-weight-light;
	color: $color-text;
	margin-right: 0.5em;

	&::placeholder {
		color: $color-text-extralight;
	}

}

button {

	color: white;
	background: var(--color-secondary,$color-secondary);
	border-radius: 5px;
	padding: 0.4em 0.8em;
	cursor: pointer;

	&:hover {
		background: var(--color-secondary-light,$color-secondary-light);
	}

}

label {
	
	font-size: $font-size-medium;
	margin-bottom: 0.6em;
	display: block;

}