@import "../utils/assets";

.logo {

	display: inline-flex;
	align-content: center;

	&::before {

		vertical-align: middle;
		display: inline-block;
		font-size: inherit;
		width: 1em;
		height: 1em;		
		background: image("logo.svg") center center no-repeat;
		background-size: contain;					
		margin-right: 0.5em;
		transition: background-image 1s;
		content: '';
	}

	&:hover::before{
		background-image: image("logo_shadow.svg");
	}

}