@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.text-light {
  color: #747474;
}

.text-extralight {
  color: #b3b3b3;
}

.text-danger {
  color: #b01c1c;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.container {
  margin: 40px auto;
  background: white;
  width: 1200px;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
}
.container header {
  color: white;
  background: #4cc7c7;
  font-size: 30px;
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container header a {
  color: white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: text-shadow 0.5s;
}
.container header a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.container main {
  padding: 25px;
}
.container main > *:last-child {
  margin-bottom: 0;
}

.spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.vbox, .hbox {
  display: flex;
}
.vbox.align-center, .hbox.align-center {
  align-items: center;
}
.vbox.align-start, .hbox.align-start {
  align-items: flex-start;
}
.vbox.align-end, .hbox.align-end {
  align-items: flex-end;
}
.vbox.align-stretch, .hbox.align-stretch {
  align-items: stretch;
}
.vbox.align-baseline, .hbox.align-baseline {
  align-items: baseline;
}
.vbox.justify-center, .hbox.justify-center {
  justify-content: center;
}
.vbox.justify-start, .hbox.justify-start {
  justify-content: flex-start;
}
.vbox.justify-end, .hbox.justify-end {
  justify-content: flex-end;
}

.vbox {
  flex-direction: column;
}
.vbox.reverse {
  flex-direction: column-reverse;
}

.hbox {
  flex-direction: row;
}
.hbox.reverse {
  flex-direction: row-reverse;
}

.m-1 {
  margin: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.p-1 {
  margin: 0.5rem;
}

.px-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.py-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pl-1 {
  margin-left: 0.5rem;
}

.pr-1 {
  margin-right: 0.5rem;
}

.pt-1 {
  margin-top: 0.5rem;
}

.pb-1 {
  margin-bottom: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.p-2 {
  margin: 1rem;
}

.px-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.py-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pl-2 {
  margin-left: 1rem;
}

.pr-2 {
  margin-right: 1rem;
}

.pt-2 {
  margin-top: 1rem;
}

.pb-2 {
  margin-bottom: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.p-3 {
  margin: 1.5rem;
}

.px-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.py-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pl-3 {
  margin-left: 1.5rem;
}

.pr-3 {
  margin-right: 1.5rem;
}

.pt-3 {
  margin-top: 1.5rem;
}

.pb-3 {
  margin-bottom: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.p-4 {
  margin: 2rem;
}

.px-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.py-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pl-4 {
  margin-left: 2rem;
}

.pr-4 {
  margin-right: 2rem;
}

.pt-4 {
  margin-top: 2rem;
}

.pb-4 {
  margin-bottom: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.p-5 {
  margin: 2.5rem;
}

.px-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.py-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pl-5 {
  margin-left: 2.5rem;
}

.pr-5 {
  margin-right: 2.5rem;
}

.pt-5 {
  margin-top: 2.5rem;
}

.pb-5 {
  margin-bottom: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.p-6 {
  margin: 3rem;
}

.px-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.py-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pl-6 {
  margin-left: 3rem;
}

.pr-6 {
  margin-right: 3rem;
}

.pt-6 {
  margin-top: 3rem;
}

.pb-6 {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eff7f6;
}

ul.collection {
  border-radius: 10px;
  border: 1px solid #d9d8d8;
  margin-bottom: 1.5rem;
}
ul.collection h1, ul.collection h2, ul.collection h3, ul.collection h4, ul.collection h5, ul.collection h6, ul.collection p {
  margin-bottom: 1rem;
}
ul.collection li {
  padding: 20px;
  border-bottom: 1px solid #d9d8d8;
}
ul.collection li:last-child {
  border-bottom: none;
}
ul.collection li *:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

input, button, select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 20px;
}

input[type=text], select {
  padding: 0.25em;
  border: 2px solid #e68c9f;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #505050;
  margin-right: 0.5em;
}
input[type=text]::placeholder, select::placeholder {
  color: #b3b3b3;
}

button {
  color: white;
  background: #e68c9f;
  border-radius: 5px;
  padding: 0.4em 0.8em;
  cursor: pointer;
}
button:hover {
  background: #eb9bac;
}

label {
  font-size: 20px;
  margin-bottom: 0.6em;
  display: block;
}

a {
  color: #e68c9f;
  text-decoration: none;
}
a:hover {
  color: #eb9bac;
}

.logo {
  display: inline-flex;
  align-content: center;
}
.logo::before {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  background: url("../../../../images/logo_small_transparent.png") center center no-repeat;
  background-size: contain;
  margin-right: 0.5em;
  content: "";
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

table {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d8d8;
  margin-bottom: 1.5rem;
  border-collapse: separate;
  overflow: hidden;
}
table tr {
  border-bottom: 1px solid #d9d8d8;
}
table tr:last-child {
  border-bottom: none;
}
table td, table th {
  text-align: center;
  padding: 1em;
}
table td {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #505050;
}
table th {
  color: #505050;
  border-bottom: 1px solid #d9d8d8;
}
table h1:last-child, table h2:last-child, table h3:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6, p {
  font-size: 16px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
}

.font-big {
  font-size: 30px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.breadcrumb {
  display: inline-block;
}
.breadcrumb::before {
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.25em;
  content: "";
}

#canvas {
  border: 2px solid #d9d8d8;
  border-radius: 25px;
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=dnsflow.css.map */
